<!DOCTYPE html>
<html>
<head>
<title> Thermostat </title>
  <script src="../jquery.js"></script>
  <link href = "../css/style.css" rel="stylesheet" type='text/css' >
</head>
<body id='body'>

  <h1>Welcome to Thermostat</h1>

  <form  id='form'>
    <h3>Select your city</h3>
    <input id='city' type='text'>
    <input id='submit' type='submit' value='Submit'>
  </form>

  <h2>The thermostat temperature is <span id='temperature'></span> </h2><br>
  <h2 id="powerSavingMode">Power Saving Mode is on</h2><br>
  <h3 id="usage">Medium usage</h3><br>
  <h3>Outside temperature is: <span id="weather"></span></h3>

  <input id="increase" type="button" name="increase"  value="+"><br>
  <input id="decrease" type='button' name="decrease"  value="-"><br>
  <input id='reset' type='button' name='reset' value="Reset Temperature"><br>
  <input id="powerSaveOn" type="button" name="powerSaveOn"  value="Power Saving Mode On"><br>
  <input id="powerSaveOff" type="button" name="powerSaveOff" value="Power Saving Mode Off">

  <script src="../thermostat.js"></script>
  <script src="../interactive.js"></script>



</body>
</html>
